// Specifications
.specifications {
	// specifications__container
	&__container {
		position: relative;
	}

	// specifications__content
	&__content {
		row-gap: 1.5rem;
	}

	// specifications__data
	&__data {
		display: grid;
		row-gap: 0.25rem;
	}

	// specifications__icon
	&__icon {
		font-size: 1.2rem;
		color: var(--white-color);
	}

	// specifications__title
	&__title {
		font-size: var(--normal-font-size);
		font-weight: var(--font-medium);
	}

	// specifications__subtitle
	&__subtitle {
		font-size: var(--smaller-font-size);
	}

	// specifications__data
	&__data:nth-child(1),
	&__data:nth-child(4) {
		margin-left: 1.5rem;
	}

	// specifications__image
	&__image {
		width: 250px;
		position: absolute;
		top: 2rem;
		right: -4rem;
	}
}
